body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  height: 10em;
  padding: 5em;
  font-size: 2em;
  background-image: url("../imgs/fondo.jpg");
  background-size: cover;
  background-position: center;
}

.header h1 {
  margin: 0px;
  font-weight: 400;
}
