header {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 73px;
    /* UI Properties */
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.titulo {
    top: 7px;
left: 530px;
width: 221px;
height: 59px;
text-align: left;
font: normal normal medium 50px/59px Raleway;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.seccion_1 {
    /* Layout Properties */
    top: 73px;
    left: 0px;
    width: 1280px;
    height: 727px;
    /* UI Properties */
    /* background: transparent url('assets/img/bg-header.jpg') 0% 0% no-repeat padding-box; */
    /* opacity: 1; */
    background-image: asset('assets/img/bg-header.jpg');
}