body{
  width:auto;
  margin:auto;
}

/* p { */
  /* font-size:1.5em; */
  /* font-size:20px; */
  /* color:white; */
  /* padding:50px; */
/* } */

header{
  height:50%; 
  /* padding:5em;  */
  /* font-size:2em;  */
  /* width: ; */
  background-image:url("../img/ferris_sweep.webp"); 
  background-size: cover; 
  background-position: center;
}

main {
  background-color: lawngreen;
}

.titulo {
  font-size: 50px;
  padding:30px;
  color:black;
  margin:0px;
}

.subtitulo{
  width:20%;
  font-size: 35px;
  color:black;
  padding:30px;
}

.product_img {
  width: 50%;
  height: 50%;
  margin:2%;
  float:left;
  /* inline-size: 30%; */
}

.product_text {
  text-align: center;
  padding-top: 50px;
  margin-right: 40px;
}

section {
  /* padding:5%; */
  inline-size: auto;
}

